/*webBox begin*/
.msgBox{
	position:fixed;
	top:30%;
	width:100%;
	left:0;
	text-align:center;
	z-index:99992;
}

.msgBox span{
	display:inline-block;
	*display:inline;
	*zoom:1;
	margin:auto;
	background:#000;
	filter:Alpha(opacity=60);
	background:rgba(0,0,0,0.6);
	color:#fff;
	padding:5px 20px;
	font-size:14px;
	border-radius:5px;
	-webkit-animation:msgBoxAni 2s linear;
	animation:msgBoxAni 2s linear;
	opacity:0;
	top:10px;
	position:relative;
}

@-webkit-keyframes msgBoxAni { 
	0% {
		opacity:0;
		top:10px;
	} 
	10% {
		opacity:1;
		top:0px;
	} 
	90% {
		opacity:1;
		top:0px;
	} 
	100% {
		opacity:0;
		top:-10px;
	} 
}

@keyframes msgBoxAni { 
	0% {
		opacity:0;
		top:10px;
	} 
	20% {
		opacity:1;
		top:0px;
	} 
	80% {
		opacity:1;
		top:-20px;
	} 
	100% {
		opacity:0;
		top:-30px;
	} 
}


/*webBox end*/
