/* !
* @overview:主样式 */
html {
  color: #545454;
  background-color: #fff;
  -webkit-text-size-adjust: 100%;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
html, img, body, div {
  -webkit-user-select: none;
  user-select: none;
}
html, body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td, img {
  margin: 0;
  padding: 0;
}
body, button, input, select, textarea {
  font: 14px/1.5 "Helvetica neue", Helvetica, Tahoma, Arial, "\5FAE\8F6F\96C5\9ED1", "\5B8B\4F53", sans-serif;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  margin: 0;
  padding: 0;
  display: block;
}
audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
img {
  border: 0 none;
  max-width: 100%;
  height: auto;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
}
i, em {
  font-style: normal;
}
ul, ol {
  list-style: none;
}
button {
  cursor: pointer;
  border: 0 none;
}
a:link, a:visited {
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
a:hover, a:active {
  text-decoration: none;
}
.hide {
  display: none;
}
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.clearfix {
  display: inline-table;
}

/* Hides from IE-mac \ */
* html .clearfix {
  height: 1%;
}
.clearfix {
  display: block;
}

/* common */
html, body, .page {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.grid {
  width: 640px;
  height: 960px;
  position: absolute;
  left: 50%;
  margin-left: -320px;
  top: 50%;
  margin-top: -480px;
  background-color: #fff;
}
#loading {
  background-color: #fff;
  font-size: 20px;
  z-index: 101;
  text-align: center;
}
#loading img {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
#loading p {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 30px;
}

/* index */
#index, #gameover {
  background-color: rgba(255, 255, 255, 1);
  z-index: 100;
  text-align: center;
}
#index p, #gameover p {
  line-height: 60px;
  font-size: 30px;
}
#index p em, #gameover p em {
  color: #ED4F30;
  font-weight: bold;
  padding: 0 5px;
}
.logo {
  display: block;
  width: 460px;
  margin: 130px auto 60px auto;
}
.start {
  width: 398px;
}
.copyright {
  width: 219px;
  height: 54px;
  position: absolute;
  left: 50%;
  margin-left: -110px;
  bottom: 110px;
}
#index {
  margin: 0 auto;
}

/* game */
#apple {
  width: 144px;
  height: 120px;
  top: 50px;
  left: 50%;
  margin-left: -72px;
  position: absolute;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
}
.apple {
  background-image: url(../img/apple.png);
}
.apples {
  background-image: url(../img/apples.png);
}
#score {
  width: 50px;
  height: 40px;
  top: 50px;
  left: 60%;
  margin-left: 25px;
  position: absolute;
  font-size: 30px;
}
.people {
  width: 205px;
  height: 524px;
  margin: 0 auto;
  margin-top: 80px;
  background-image: url(../img/people.png);
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
}
.arrow {
  width: 52px;
  height: 217px;
  bottom: 80px;
  position: absolute;
  background-image: url(../img/arrow.png);
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
  position: absolute;
  left: 50%;
  margin-left: -26px;
}
.bow {
  width: 346px;
  height: 112px;
  bottom: 110px;
  left: 50%;
  margin-left: -173px;
  position: absolute;
  background-image: url(../img/bow.png);
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
}
.barLifes {
  z-index: 1;
  position: absolute;
  width: 24px;
  height: 0px;
  left: 0px;
  bottom: 0px;
  background-color: #ff0000;
}
.progress {
  z-index: 2;
  width: 24px;
  height: 0px;
  bottom: 0;
  position: absolute;
  background-color: #D4D4D4;
}
.bar {
  width: 24px;
  height: 476px;
  border: 1px solid #8D8D8D;
  top: 10%;
  left: 90%;
  position: absolute;
  pointer-events: none;
}
.view-wrap #view {
  position: absolute;
  width: 100%;
  left: 0;
}
#time {
  background-color: rgba(150, 250, 57, 0.8);
  line-height: 60px;
  height: 60px;
  text-align: center;
  color: #fff;
  width: 160px;
  border-radius: 0 0 10px 10px;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -80px;
  z-index: 10;
  font-size: 30px;
}
.view-wrap, #control {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
#control div {
  width: 25%;
  height: 100%;
  float: left;
  cursor: pointer;
}

/* gameover */
#gameover .info {
  margin-top: 15px;
  width: 640px;
  height: 500px;
  background-image: url(../img/win.png);
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
}
#btn-restart {
  margin-top: 5px;
  width: 324px;
  height: 125px;
  margin: 0 auto;
  background-image: url(../img/retry.png);
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
}
#btn-share {
  margin-top: 5px;
  width: 321px;
  height: 115px;
  margin: 0 auto;
  background-image: url(../img/share.png);
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
}
#btn-more {
  margin-top: 5px;
  width: 324px;
  height: 125px;
  margin: 0 auto;
  background-image: url(../img/more.png);
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
}
.fail-one {
  width: 322px;
  height: 498px;
  margin: 0 auto;
  margin-top: 70px;
  margin-left: 100px;
  margin-bottom: 30px;
  background-image: url(../img/fail_1.png);
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
}
.fail-two {
  width: 246px;
  height: 504px;
  margin: 0 auto;
  margin-top: 70px;
  margin-bottom: 30px;
  background-image: url(../img/fail_2.png);
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
}
.fail-three {
  width: 310px;
  height: 504px;
  margin: 0 auto;
  margin-top: 70px;
  margin-bottom: 30px;
  background-image: url(../img/fail_3.png);
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
}
#share {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: none;
  z-index: 110;
}
#share img {
  height: 150px;
  width: 180px;
  position: absolute;
  right: 0;
  top: 0;
}
#spn {
  position: fixed;
  left: 50% !important;
  margin-left: -160px;
  width: 320px;
  height: 50px;
  bottom: 0;
  z-index: 9999;
}
.hide {
  display: none;
}
.animated {
  -webkit-animation-duration: 1s;
  -ms-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
}
