This XML file does not appear to have any style information associated with it. The document tree is shown below.
<plist version="1.0">
<dict>
<key>frames</key>
<dict>
<key>mosquito_a0.png</key>
<dict>
<key>frame</key>
<string>{{2,47},{46,37}}</string>
<key>offset</key>
<string>{0,-3}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{3,10},{46,37}}</string>
<key>sourceSize</key>
<string>{52,51}</string>
</dict>
<key>mosquito_a1.png</key>
<dict>
<key>frame</key>
<string>{{2,2},{46,43}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{3,4},{46,43}}</string>
<key>sourceSize</key>
<string>{52,51}</string>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>2</integer>
<key>realTextureFileName</key>
<string>wzzz_mosquito_a.png</string>
<key>size</key>
<string>{50,86}</string>
<key>smartupdate</key>
<string>
$TexturePacker:SmartUpdate:009b3bd023db8750f233793e32219de1:1ace2e5c964a730e33e70b138f2931d3:d913b47e5cb09d8f50a8c2f0993a0cf3$
</string>
<key>textureFileName</key>
<string>wzzz_mosquito_a.png</string>
</dict>
</dict>
</plist>