<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_cj.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,511},{201,217}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,217}}</string>
                <key>sourceSize</key>
                <string>{201,217}</string>
            </dict>
            <key>btn_cj_big.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,772},{201,217}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,217}}</string>
                <key>sourceSize</key>
                <string>{201,217}</string>
            </dict>
            <key>btn_replay.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,428},{214,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,71}}</string>
                <key>sourceSize</key>
                <string>{214,71}</string>
            </dict>
            <key>btn_share.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,511},{259,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{259,71}}</string>
                <key>sourceSize</key>
                <string>{259,71}</string>
            </dict>
            <key>btn_wdjp.png</key>
            <dict>
                <key>frame</key>
                <string>{{953,327},{182,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,60}}</string>
                <key>sourceSize</key>
                <string>{182,60}</string>
            </dict>
            <key>center.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,2},{113,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,117}}</string>
                <key>sourceSize</key>
                <string>{113,117}</string>
            </dict>
            <key>fail.png</key>
            <dict>
                <key>frame</key>
                <string>{{439,2},{435,424}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{435,424}}</string>
                <key>sourceSize</key>
                <string>{435,424}</string>
            </dict>
            <key>jp1.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,177},{65,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,100}}</string>
                <key>sourceSize</key>
                <string>{65,100}</string>
            </dict>
            <key>jp2.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,117},{58,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,102}}</string>
                <key>sourceSize</key>
                <string>{58,102}</string>
            </dict>
            <key>jp3.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,244},{93,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,81}}</string>
                <key>sourceSize</key>
                <string>{93,81}</string>
            </dict>
            <key>jp4.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,404},{75,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,75}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>jp5.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,327},{75,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,75}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>success.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{435,424}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{435,424}}</string>
                <key>sourceSize</key>
                <string>{435,424}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>award.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e82b11b6351cabb19b4344e33dc57a86$</string>
            <key>textureFileName</key>
            <string>award.png</string>
        </dict>
    </dict>
</plist>
