<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_5yuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{919,2},{182,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,57}}</string>
                <key>sourceSize</key>
                <string>{182,57}</string>
            </dict>
            <key>hjg0.png</key>
            <dict>
                <key>frame</key>
                <string>{{639,2},{278,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{278,185}}</string>
                <key>sourceSize</key>
                <string>{278,185}</string>
            </dict>
            <key>hjg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{639,398},{238,246}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,246}}</string>
                <key>sourceSize</key>
                <string>{238,246}</string>
            </dict>
            <key>hjj0.png</key>
            <dict>
                <key>frame</key>
                <string>{{639,189},{276,207}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{276,207}}</string>
                <key>sourceSize</key>
                <string>{276,207}</string>
            </dict>
            <key>hjj1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,638},{239,217}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{239,217}}</string>
                <key>sourceSize</key>
                <string>{239,217}</string>
            </dict>
            <key>tk_5yuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{635,582}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{635,582}}</string>
                <key>sourceSize</key>
                <string>{635,582}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>MenuSprite.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:be7453e87754c407e54c4a6ce778f4b0$</string>
            <key>textureFileName</key>
            <string>MenuSprite.png</string>
        </dict>
    </dict>
</plist>
