<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hjg0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{278,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{278,185}}</string>
                <key>sourceSize</key>
                <string>{278,185}</string>
            </dict>
            <key>hjg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,398},{238,246}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,246}}</string>
                <key>sourceSize</key>
                <string>{238,246}</string>
            </dict>
            <key>hjj0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,189},{276,207}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{276,207}}</string>
                <key>sourceSize</key>
                <string>{276,207}</string>
            </dict>
            <key>hjj1.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,2},{239,217}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{239,217}}</string>
                <key>sourceSize</key>
                <string>{239,217}</string>
            </dict>
            <key>kd1.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,721},{88,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,49}}</string>
                <key>sourceSize</key>
                <string>{88,49}</string>
            </dict>
            <key>kd2.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,517},{155,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,72}}</string>
                <key>sourceSize</key>
                <string>{155,72}</string>
            </dict>
            <key>kd3.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,548},{84,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,103}}</string>
                <key>sourceSize</key>
                <string>{84,103}</string>
            </dict>
            <key>kd4.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,591},{128,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,150}}</string>
                <key>sourceSize</key>
                <string>{128,150}</string>
            </dict>
            <key>kd5.png</key>
            <dict>
                <key>frame</key>
                <string>{{59,721},{60,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,54}}</string>
                <key>sourceSize</key>
                <string>{60,54}</string>
            </dict>
            <key>kd6.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,634},{100,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,83}}</string>
                <key>sourceSize</key>
                <string>{100,83}</string>
            </dict>
            <key>kd7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,796},{139,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,115}}</string>
                <key>sourceSize</key>
                <string>{139,115}</string>
            </dict>
            <key>zaw1.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,453},{93,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,61}}</string>
                <key>sourceSize</key>
                <string>{93,61}</string>
            </dict>
            <key>zaw2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,721},{70,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,55}}</string>
                <key>sourceSize</key>
                <string>{70,55}</string>
            </dict>
            <key>zaw3.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,395},{66,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,56}}</string>
                <key>sourceSize</key>
                <string>{66,56}</string>
            </dict>
            <key>zs1.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,395},{120,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,8},{120,162}}</string>
                <key>sourceSize</key>
                <string>{140,178}</string>
            </dict>
            <key>zs2.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,243},{150,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,192}}</string>
                <key>sourceSize</key>
                <string>{150,192}</string>
            </dict>
            <key>zs3.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,719},{75,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,99}}</string>
                <key>sourceSize</key>
                <string>{75,99}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sprite.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bfcdfb1b06ee5bab4548731650d1c732$</string>
            <key>textureFileName</key>
            <string>sprite.png</string>
        </dict>
    </dict>
</plist>
