<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>blood0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,305},{69,23}}</string>
                <key>offset</key>
                <string>{-113,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,86},{69,23}}</string>
                <key>sourceSize</key>
                <string>{309,181}</string>
            </dict>
            <key>blood0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,2},{301,179}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{301,179}}</string>
                <key>sourceSize</key>
                <string>{309,181}</string>
            </dict>
            <key>blood0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{551,2},{307,181}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{307,181}}</string>
                <key>sourceSize</key>
                <string>{309,181}</string>
            </dict>
            <key>blood0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{551,2},{307,181}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{307,181}}</string>
                <key>sourceSize</key>
                <string>{309,181}</string>
            </dict>
            <key>blood0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,2},{307,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{307,181}}</string>
                <key>sourceSize</key>
                <string>{309,181}</string>
            </dict>
            <key>blood0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,311},{307,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{307,181}}</string>
                <key>sourceSize</key>
                <string>{309,181}</string>
            </dict>
            <key>blood0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,2},{307,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{307,181}}</string>
                <key>sourceSize</key>
                <string>{309,181}</string>
            </dict>
            <key>blood0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,311},{307,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{307,181}}</string>
                <key>sourceSize</key>
                <string>{309,181}</string>
            </dict>
            <key>blood0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{307,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{307,181}}</string>
                <key>sourceSize</key>
                <string>{309,181}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>blood.png</string>
            <key>size</key>
            <string>{915,494}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:19b53424333b8d5ef13d12efe9b55b7b:1/1$</string>
            <key>textureFileName</key>
            <string>blood.png</string>
        </dict>
    </dict>
</plist>
