<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>again.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,564},{270,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,80}}</string>
                <key>sourceSize</key>
                <string>{270,80}</string>
            </dict>
            <key>bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,843},{95,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{95,12}}</string>
                <key>sourceSize</key>
                <string>{97,16}</string>
            </dict>
            <key>gameintro.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{560,531}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{560,531}}</string>
                <key>sourceSize</key>
                <string>{564,543}</string>
            </dict>
            <key>more.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,780},{544,78}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{544,78}}</string>
                <key>sourceSize</key>
                <string>{554,92}</string>
            </dict>
            <key>over.png</key>
            <dict>
                <key>frame</key>
                <string>{{535,2},{546,509}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,5},{546,509}}</string>
                <key>sourceSize</key>
                <string>{548,531}</string>
            </dict>
            <key>quan.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,564},{277,248}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{277,248}}</string>
                <key>sourceSize</key>
                <string>{277,248}</string>
            </dict>
            <key>return.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,687},{543,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{543,91}}</string>
                <key>sourceSize</key>
                <string>{543,91}</string>
            </dict>
            <key>share.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,564},{270,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,80}}</string>
                <key>sourceSize</key>
                <string>{270,80}</string>
            </dict>
            <key>start.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,564},{560,121}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,5},{560,121}}</string>
                <key>sourceSize</key>
                <string>{564,139}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>games.png</string>
            <key>size</key>
            <string>{1046,860}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5c6410601704681fd2816b7822597df3:1/1$</string>
            <key>textureFileName</key>
            <string>games.png</string>
        </dict>
    </dict>
</plist>
