<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>l10001.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,641},{45,44}}</string>
                <key>offset</key>
                <string>{4,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,88},{45,44}}</string>
                <key>sourceSize</key>
                <string>{197,204}</string>
            </dict>
            <key>l10002.png</key>
            <dict>
                <key>frame</key>
                <string>{{881,572},{123,156}}</string>
                <key>offset</key>
                <string>{-13,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,22},{123,156}}</string>
                <key>sourceSize</key>
                <string>{197,204}</string>
            </dict>
            <key>l10003.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,236},{177,198}}</string>
                <key>offset</key>
                <string>{-9,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{177,198}}</string>
                <key>sourceSize</key>
                <string>{197,204}</string>
            </dict>
            <key>l10004.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,415},{155,176}}</string>
                <key>offset</key>
                <string>{16,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,2},{155,176}}</string>
                <key>sourceSize</key>
                <string>{197,204}</string>
            </dict>
            <key>l20001.png</key>
            <dict>
                <key>frame</key>
                <string>{{567,578},{62,58}}</string>
                <key>offset</key>
                <string>{-3,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,18},{62,58}}</string>
                <key>sourceSize</key>
                <string>{78,80}</string>
            </dict>
            <key>l20002.png</key>
            <dict>
                <key>frame</key>
                <string>{{575,883},{78,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,80}}</string>
                <key>sourceSize</key>
                <string>{78,80}</string>
            </dict>
            <key>l20003.png</key>
            <dict>
                <key>frame</key>
                <string>{{495,883},{78,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,80}}</string>
                <key>sourceSize</key>
                <string>{78,80}</string>
            </dict>
            <key>l20004.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,883},{78,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,80}}</string>
                <key>sourceSize</key>
                <string>{78,80}</string>
            </dict>
            <key>l20005.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,883},{78,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,80}}</string>
                <key>sourceSize</key>
                <string>{78,80}</string>
            </dict>
            <key>l20006.png</key>
            <dict>
                <key>frame</key>
                <string>{{655,883},{64,68}}</string>
                <key>offset</key>
                <string>{7,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,2},{64,68}}</string>
                <key>sourceSize</key>
                <string>{78,80}</string>
            </dict>
            <key>l20007.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,688},{4,4}}</string>
                <key>offset</key>
                <string>{-26,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,43},{4,4}}</string>
                <key>sourceSize</key>
                <string>{78,80}</string>
            </dict>
            <key>ta0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{721,830},{125,172}}</string>
                <key>offset</key>
                <string>{16,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{131,113},{125,172}}</string>
                <key>sourceSize</key>
                <string>{355,334}</string>
            </dict>
            <key>ta0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{895,730},{139,118}}</string>
                <key>offset</key>
                <string>{4,-46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{112,154},{139,118}}</string>
                <key>sourceSize</key>
                <string>{355,334}</string>
            </dict>
            <key>ta0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{805,2},{173,232}}</string>
                <key>offset</key>
                <string>{21,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,33},{173,232}}</string>
                <key>sourceSize</key>
                <string>{355,334}</string>
            </dict>
            <key>ta0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,578},{217,250}}</string>
                <key>offset</key>
                <string>{18,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,19},{217,250}}</string>
                <key>sourceSize</key>
                <string>{355,334}</string>
            </dict>
            <key>ta0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{567,294},{253,282}}</string>
                <key>offset</key>
                <string>{13,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,0},{253,282}}</string>
                <key>sourceSize</key>
                <string>{355,334}</string>
            </dict>
            <key>ta0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,2},{259,290}}</string>
                <key>offset</key>
                <string>{4,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,3},{259,290}}</string>
                <key>sourceSize</key>
                <string>{355,334}</string>
            </dict>
            <key>ta0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,353},{283,286}}</string>
                <key>offset</key>
                <string>{-11,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,6},{283,286}}</string>
                <key>sourceSize</key>
                <string>{355,334}</string>
            </dict>
            <key>ta0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,2},{313,248}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,44},{313,248}}</string>
                <key>sourceSize</key>
                <string>{355,334}</string>
            </dict>
            <key>ta0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,698},{331,266}}</string>
                <key>offset</key>
                <string>{4,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,24},{331,266}}</string>
                <key>sourceSize</key>
                <string>{355,334}</string>
            </dict>
            <key>ta0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{349,290}}</string>
                <key>offset</key>
                <string>{-2,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,30},{349,290}}</string>
                <key>sourceSize</key>
                <string>{355,334}</string>
            </dict>
            <key>ta0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,353},{343,278}}</string>
                <key>offset</key>
                <string>{-1,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,40},{343,278}}</string>
                <key>sourceSize</key>
                <string>{355,334}</string>
            </dict>
            <key>ta0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,641},{325,240}}</string>
                <key>offset</key>
                <string>{-8,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,87},{325,240}}</string>
                <key>sourceSize</key>
                <string>{355,334}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>light.png</string>
            <key>size</key>
            <string>{1022,966}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4ea06de969664e304dea68a255325c93:1/1$</string>
            <key>textureFileName</key>
            <string>light.png</string>
        </dict>
    </dict>
</plist>
