<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>npc10001.png</key>
            <dict>
                <key>frame</key>
                <string>{{611,2},{82,69}}</string>
                <key>offset</key>
                <string>{2,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,31},{82,69}}</string>
                <key>sourceSize</key>
                <string>{108,109}</string>
            </dict>
            <key>npc10002.png</key>
            <dict>
                <key>frame</key>
                <string>{{923,360},{86,71}}</string>
                <key>offset</key>
                <string>{4,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,29},{86,71}}</string>
                <key>sourceSize</key>
                <string>{108,109}</string>
            </dict>
            <key>npc10003.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,406},{88,71}}</string>
                <key>offset</key>
                <string>{3,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,29},{88,71}}</string>
                <key>sourceSize</key>
                <string>{108,109}</string>
            </dict>
            <key>npc10004.png</key>
            <dict>
                <key>frame</key>
                <string>{{611,2},{82,69}}</string>
                <key>offset</key>
                <string>{2,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,31},{82,69}}</string>
                <key>sourceSize</key>
                <string>{108,109}</string>
            </dict>
            <key>npc10005.png</key>
            <dict>
                <key>frame</key>
                <string>{{923,287},{86,71}}</string>
                <key>offset</key>
                <string>{7,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,32},{86,71}}</string>
                <key>sourceSize</key>
                <string>{108,109}</string>
            </dict>
            <key>npc10006.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,433},{86,69}}</string>
                <key>offset</key>
                <string>{4,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,31},{86,69}}</string>
                <key>sourceSize</key>
                <string>{108,109}</string>
            </dict>
            <key>npc20001.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,402},{68,75}}</string>
                <key>offset</key>
                <string>{6,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,22},{68,75}}</string>
                <key>sourceSize</key>
                <string>{108,109}</string>
            </dict>
            <key>npc20002.png</key>
            <dict>
                <key>frame</key>
                <string>{{849,384},{70,71}}</string>
                <key>offset</key>
                <string>{8,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,26},{70,71}}</string>
                <key>sourceSize</key>
                <string>{108,109}</string>
            </dict>
            <key>npc20003.png</key>
            <dict>
                <key>frame</key>
                <string>{{469,406},{74,67}}</string>
                <key>offset</key>
                <string>{9,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,30},{74,67}}</string>
                <key>sourceSize</key>
                <string>{108,109}</string>
            </dict>
            <key>npc20004.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,402},{68,75}}</string>
                <key>offset</key>
                <string>{6,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,22},{68,75}}</string>
                <key>sourceSize</key>
                <string>{108,109}</string>
            </dict>
            <key>npc20005.png</key>
            <dict>
                <key>frame</key>
                <string>{{849,456},{70,69}}</string>
                <key>offset</key>
                <string>{12,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,24},{70,69}}</string>
                <key>sourceSize</key>
                <string>{108,109}</string>
            </dict>
            <key>npc20006.png</key>
            <dict>
                <key>frame</key>
                <string>{{849,456},{70,69}}</string>
                <key>offset</key>
                <string>{12,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,24},{70,69}}</string>
                <key>sourceSize</key>
                <string>{108,109}</string>
            </dict>
            <key>npc20007.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,406},{74,67}}</string>
                <key>offset</key>
                <string>{11,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,29},{74,67}}</string>
                <key>sourceSize</key>
                <string>{108,109}</string>
            </dict>
            <key>npc30001.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,681},{76,95}}</string>
                <key>offset</key>
                <string>{-5,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,0},{76,95}}</string>
                <key>sourceSize</key>
                <string>{108,109}</string>
            </dict>
            <key>npc30002.png</key>
            <dict>
                <key>frame</key>
                <string>{{743,478},{76,95}}</string>
                <key>offset</key>
                <string>{-5,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,0},{76,95}}</string>
                <key>sourceSize</key>
                <string>{108,109}</string>
            </dict>
            <key>npc30003.png</key>
            <dict>
                <key>frame</key>
                <string>{{845,287},{76,95}}</string>
                <key>offset</key>
                <string>{-5,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{76,95}}</string>
                <key>sourceSize</key>
                <string>{108,109}</string>
            </dict>
            <key>npc30004.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,681},{76,95}}</string>
                <key>offset</key>
                <string>{-5,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,0},{76,95}}</string>
                <key>sourceSize</key>
                <string>{108,109}</string>
            </dict>
            <key>npc30005.png</key>
            <dict>
                <key>frame</key>
                <string>{{495,697},{76,95}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,6},{76,95}}</string>
                <key>sourceSize</key>
                <string>{108,109}</string>
            </dict>
            <key>npc30006.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,697},{76,95}}</string>
                <key>offset</key>
                <string>{-3,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,2},{76,95}}</string>
                <key>sourceSize</key>
                <string>{108,109}</string>
            </dict>
            <key>npc40001.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,681},{82,89}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,8},{82,89}}</string>
                <key>sourceSize</key>
                <string>{108,109}</string>
            </dict>
            <key>npc40002.png</key>
            <dict>
                <key>frame</key>
                <string>{{921,504},{82,91}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,6},{82,91}}</string>
                <key>sourceSize</key>
                <string>{108,109}</string>
            </dict>
            <key>npc40003.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,597},{82,89}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,8},{82,89}}</string>
                <key>sourceSize</key>
                <string>{108,109}</string>
            </dict>
            <key>npc40004.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,681},{82,89}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,8},{82,89}}</string>
                <key>sourceSize</key>
                <string>{108,109}</string>
            </dict>
            <key>npc40005.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,556},{82,89}}</string>
                <key>offset</key>
                <string>{6,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,1},{82,89}}</string>
                <key>sourceSize</key>
                <string>{108,109}</string>
            </dict>
            <key>npc40006.png</key>
            <dict>
                <key>frame</key>
                <string>{{743,556},{82,89}}</string>
                <key>offset</key>
                <string>{4,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,3},{82,89}}</string>
                <key>sourceSize</key>
                <string>{108,109}</string>
            </dict>
            <key>npc40007.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,681},{82,89}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,8},{82,89}}</string>
                <key>sourceSize</key>
                <string>{108,109}</string>
            </dict>
            <key>role0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,644},{117,97}}</string>
                <key>offset</key>
                <string>{-26,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,60},{117,97}}</string>
                <key>sourceSize</key>
                <string>{251,217}</string>
            </dict>
            <key>role0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,251},{229,201}}</string>
                <key>offset</key>
                <string>{-11,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{229,201}}</string>
                <key>sourceSize</key>
                <string>{251,217}</string>
            </dict>
            <key>role0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,2},{223,211}}</string>
                <key>offset</key>
                <string>{-11,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,4},{223,211}}</string>
                <key>sourceSize</key>
                <string>{251,217}</string>
            </dict>
            <key>role0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{247,195}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,18},{247,195}}</string>
                <key>sourceSize</key>
                <string>{251,217}</string>
            </dict>
            <key>role0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,251},{239,193}}</string>
                <key>offset</key>
                <string>{3,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,17},{239,193}}</string>
                <key>sourceSize</key>
                <string>{251,217}</string>
            </dict>
            <key>role0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,492},{231,203}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,7},{231,203}}</string>
                <key>sourceSize</key>
                <string>{251,217}</string>
            </dict>
            <key>role0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,482},{213,181}}</string>
                <key>offset</key>
                <string>{14,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,0},{213,181}}</string>
                <key>sourceSize</key>
                <string>{251,217}</string>
            </dict>
            <key>role0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,2},{229,197}}</string>
                <key>offset</key>
                <string>{2,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,1},{229,197}}</string>
                <key>sourceSize</key>
                <string>{251,217}</string>
            </dict>
            <key>role0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,492},{233,189}}</string>
                <key>offset</key>
                <string>{-9,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{233,189}}</string>
                <key>sourceSize</key>
                <string>{251,217}</string>
            </dict>
            <key>role0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,2},{153,91}}</string>
                <key>offset</key>
                <string>{-22,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,55},{153,91}}</string>
                <key>sourceSize</key>
                <string>{251,217}</string>
            </dict>
            <key>role0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,2},{153,91}}</string>
                <key>offset</key>
                <string>{-22,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,55},{153,91}}</string>
                <key>sourceSize</key>
                <string>{251,217}</string>
            </dict>
            <key>role0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,190},{111,95}}</string>
                <key>offset</key>
                <string>{-26,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,53},{111,95}}</string>
                <key>sourceSize</key>
                <string>{251,217}</string>
            </dict>
            <key>role0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,190},{111,95}}</string>
                <key>offset</key>
                <string>{-26,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,53},{111,95}}</string>
                <key>sourceSize</key>
                <string>{251,217}</string>
            </dict>
            <key>role0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,2},{85,99}}</string>
                <key>offset</key>
                <string>{-7,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,55},{85,99}}</string>
                <key>sourceSize</key>
                <string>{251,217}</string>
            </dict>
            <key>role0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,2},{85,99}}</string>
                <key>offset</key>
                <string>{-7,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,55},{85,99}}</string>
                <key>sourceSize</key>
                <string>{251,217}</string>
            </dict>
            <key>role0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,95},{115,93}}</string>
                <key>offset</key>
                <string>{30,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,55},{115,93}}</string>
                <key>sourceSize</key>
                <string>{251,217}</string>
            </dict>
            <key>role0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,95},{115,93}}</string>
                <key>offset</key>
                <string>{30,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,55},{115,93}}</string>
                <key>sourceSize</key>
                <string>{251,217}</string>
            </dict>
            <key>role0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,236},{139,91}}</string>
                <key>offset</key>
                <string>{-20,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,55},{139,91}}</string>
                <key>sourceSize</key>
                <string>{251,217}</string>
            </dict>
            <key>role0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,236},{139,91}}</string>
                <key>offset</key>
                <string>{-20,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,55},{139,91}}</string>
                <key>sourceSize</key>
                <string>{251,217}</string>
            </dict>
            <key>role0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{669,236},{151,81}}</string>
                <key>offset</key>
                <string>{-22,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,65},{151,81}}</string>
                <key>sourceSize</key>
                <string>{251,217}</string>
            </dict>
            <key>role0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{669,236},{151,81}}</string>
                <key>offset</key>
                <string>{-22,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,65},{151,81}}</string>
                <key>sourceSize</key>
                <string>{251,217}</string>
            </dict>
            <key>role0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,479},{159,81}}</string>
                <key>offset</key>
                <string>{-25,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,65},{159,81}}</string>
                <key>sourceSize</key>
                <string>{251,217}</string>
            </dict>
            <key>role0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,479},{159,81}}</string>
                <key>offset</key>
                <string>{-25,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,65},{159,81}}</string>
                <key>sourceSize</key>
                <string>{251,217}</string>
            </dict>
            <key>role0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{708,89},{145,89}}</string>
                <key>offset</key>
                <string>{-22,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,57},{145,89}}</string>
                <key>sourceSize</key>
                <string>{251,217}</string>
            </dict>
            <key>role0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{708,89},{145,89}}</string>
                <key>offset</key>
                <string>{-22,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,57},{145,89}}</string>
                <key>sourceSize</key>
                <string>{251,217}</string>
            </dict>
            <key>role0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{799,95},{137,93}}</string>
                <key>offset</key>
                <string>{-20,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,53},{137,93}}</string>
                <key>sourceSize</key>
                <string>{251,217}</string>
            </dict>
            <key>role0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{799,95},{137,93}}</string>
                <key>offset</key>
                <string>{-20,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,53},{137,93}}</string>
                <key>sourceSize</key>
                <string>{251,217}</string>
            </dict>
            <key>role0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{611,89},{133,95}}</string>
                <key>offset</key>
                <string>{-26,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,51},{133,95}}</string>
                <key>sourceSize</key>
                <string>{251,217}</string>
            </dict>
            <key>role0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{611,89},{133,95}}</string>
                <key>offset</key>
                <string>{-26,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,51},{133,95}}</string>
                <key>sourceSize</key>
                <string>{251,217}</string>
            </dict>
            <key>role0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{691,640},{133,107}}</string>
                <key>offset</key>
                <string>{-13,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,42},{133,107}}</string>
                <key>sourceSize</key>
                <string>{251,217}</string>
            </dict>
            <key>role0031.png</key>
            <dict>
                <key>frame</key>
                <string>{{691,640},{133,107}}</string>
                <key>offset</key>
                <string>{-13,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,42},{133,107}}</string>
                <key>sourceSize</key>
                <string>{251,217}</string>
            </dict>
            <key>role0032.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,227},{173,79}}</string>
                <key>offset</key>
                <string>{-18,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,67},{173,79}}</string>
                <key>sourceSize</key>
                <string>{251,217}</string>
            </dict>
            <key>role0033.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,227},{173,79}}</string>
                <key>offset</key>
                <string>{-18,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,67},{173,79}}</string>
                <key>sourceSize</key>
                <string>{251,217}</string>
            </dict>
            <key>role0034.png</key>
            <dict>
                <key>frame</key>
                <string>{{497,227},{177,89}}</string>
                <key>offset</key>
                <string>{-15,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,57},{177,89}}</string>
                <key>sourceSize</key>
                <string>{251,217}</string>
            </dict>
            <key>role0035.png</key>
            <dict>
                <key>frame</key>
                <string>{{497,227},{177,89}}</string>
                <key>offset</key>
                <string>{-15,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,57},{177,89}}</string>
                <key>sourceSize</key>
                <string>{251,217}</string>
            </dict>
            <key>role0036.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,227},{177,95}}</string>
                <key>offset</key>
                <string>{-15,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,51},{177,95}}</string>
                <key>sourceSize</key>
                <string>{251,217}</string>
            </dict>
            <key>role0037.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,227},{177,95}}</string>
                <key>offset</key>
                <string>{-15,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,51},{177,95}}</string>
                <key>sourceSize</key>
                <string>{251,217}</string>
            </dict>
            <key>role0038.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,389},{149,87}}</string>
                <key>offset</key>
                <string>{-28,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,65},{149,87}}</string>
                <key>sourceSize</key>
                <string>{251,217}</string>
            </dict>
            <key>role0039.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,389},{149,87}}</string>
                <key>offset</key>
                <string>{-28,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,65},{149,87}}</string>
                <key>sourceSize</key>
                <string>{251,217}</string>
            </dict>
            <key>role0040.png</key>
            <dict>
                <key>frame</key>
                <string>{{581,479},{163,77}}</string>
                <key>offset</key>
                <string>{-21,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,73},{163,77}}</string>
                <key>sourceSize</key>
                <string>{251,217}</string>
            </dict>
            <key>role0041.png</key>
            <dict>
                <key>frame</key>
                <string>{{581,479},{163,77}}</string>
                <key>offset</key>
                <string>{-21,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,73},{163,77}}</string>
                <key>sourceSize</key>
                <string>{251,217}</string>
            </dict>
			<key>role0042.png</key>
            <dict>
                <key>frame</key>
                <string>{{581,479},{163,77}}</string>
                <key>offset</key>
                <string>{-21,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,73},{163,77}}</string>
                <key>sourceSize</key>
                <string>{251,217}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>roles.png</string>
            <key>size</key>
            <string>{1011,775}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c0821d95be4e9be0bf09b9b14ae48e4e:1/1$</string>
            <key>textureFileName</key>
            <string>roles.png</string>
        </dict>
    </dict>
</plist>
