<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>again.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,854},{346,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{346,130}}</string>
                <key>sourceSize</key>
                <string>{346,130}</string>
            </dict>
            <key>frontbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1098},{803,251}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{803,251}}</string>
                <key>sourceSize</key>
                <string>{803,251}</string>
            </dict>
            <key>get0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,722},{346,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{346,130}}</string>
                <key>sourceSize</key>
                <string>{346,130}</string>
            </dict>
            <key>left.png</key>
            <dict>
                <key>frame</key>
                <string>{{807,1194},{206,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,134}}</string>
                <key>sourceSize</key>
                <string>{206,134}</string>
            </dict>
            <key>ok0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{575,590},{346,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{346,130}}</string>
                <key>sourceSize</key>
                <string>{346,130}</string>
            </dict>
            <key>quan.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,986},{74,91}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{74,91}}</string>
                <key>sourceSize</key>
                <string>{76,91}</string>
            </dict>
            <key>right.png</key>
            <dict>
                <key>frame</key>
                <string>{{807,986},{206,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,134}}</string>
                <key>sourceSize</key>
                <string>{206,134}</string>
            </dict>
            <key>score.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{571,687}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{571,687}}</string>
                <key>sourceSize</key>
                <string>{571,693}</string>
            </dict>
            <key>share.png</key>
            <dict>
                <key>frame</key>
                <string>{{575,2},{586,383}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{586,383}}</string>
                <key>sourceSize</key>
                <string>{586,383}</string>
            </dict>
            <key>sharebtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,1351},{346,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{346,130}}</string>
                <key>sourceSize</key>
                <string>{346,130}</string>
            </dict>
            <key>splane.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,986},{54,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,62}}</string>
                <key>sourceSize</key>
                <string>{54,62}</string>
            </dict>
            <key>start0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1351},{346,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{346,130}}</string>
                <key>sourceSize</key>
                <string>{346,130}</string>
            </dict>
            <key>time.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,1351},{81,83}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{81,83}}</string>
                <key>sourceSize</key>
                <string>{83,91}</string>
            </dict>
            <key>title.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,691},{558,405}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{558,405}}</string>
                <key>sourceSize</key>
                <string>{558,405}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>games.png</string>
            <key>size</key>
            <string>{960,1483}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f45bd309343712112d680328ae8fe856:1/1$</string>
            <key>textureFileName</key>
            <string>games.png</string>
        </dict>
    </dict>
</plist>
