<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lfire0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,289},{126,322}}</string>
                <key>offset</key>
                <string>{4,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,8},{126,322}}</string>
                <key>sourceSize</key>
                <string>{134,332}</string>
            </dict>
            <key>lfire0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,894},{126,324}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,4},{126,324}}</string>
                <key>sourceSize</key>
                <string>{134,332}</string>
            </dict>
            <key>lfire0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,419},{134,332}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,332}}</string>
                <key>sourceSize</key>
                <string>{134,332}</string>
            </dict>
            <key>mfire.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,894},{170,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,118}}</string>
                <key>sourceSize</key>
                <string>{170,118}</string>
            </dict>
            <key>mfire2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1405,701},{170,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,192}}</string>
                <key>sourceSize</key>
                <string>{170,192}</string>
            </dict>
            <key>rfire0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1448,310},{129,324}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,324}}</string>
                <key>sourceSize</key>
                <string>{133,326}</string>
            </dict>
            <key>rfire0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,379},{133,318}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{133,318}}</string>
                <key>sourceSize</key>
                <string>{133,326}</string>
            </dict>
            <key>rfire0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1449,2},{133,306}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,20},{133,306}}</string>
                <key>sourceSize</key>
                <string>{133,326}</string>
            </dict>
            <key>role0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,251},{305,213}}</string>
                <key>offset</key>
                <string>{-9,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,101},{305,213}}</string>
                <key>sourceSize</key>
                <string>{331,315}</string>
            </dict>
            <key>role0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{807,466},{307,211}}</string>
                <key>offset</key>
                <string>{-12,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,104},{307,211}}</string>
                <key>sourceSize</key>
                <string>{331,315}</string>
            </dict>
            <key>role0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{807,679},{297,213}}</string>
                <key>offset</key>
                <string>{-7,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,102},{297,213}}</string>
                <key>sourceSize</key>
                <string>{331,315}</string>
            </dict>
            <key>role0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1116,484},{305,215}}</string>
                <key>offset</key>
                <string>{-11,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,100},{305,215}}</string>
                <key>sourceSize</key>
                <string>{331,315}</string>
            </dict>
            <key>role0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1140,2},{307,215}}</string>
                <key>offset</key>
                <string>{-12,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,96},{307,215}}</string>
                <key>sourceSize</key>
                <string>{331,315}</string>
            </dict>
            <key>role0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1106,701},{297,215}}</string>
                <key>offset</key>
                <string>{-7,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,96},{297,215}}</string>
                <key>sourceSize</key>
                <string>{331,315}</string>
            </dict>
            <key>role0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,680},{235,205}}</string>
                <key>offset</key>
                <string>{13,-54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,109},{235,205}}</string>
                <key>sourceSize</key>
                <string>{331,315}</string>
            </dict>
            <key>role0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1171,219},{263,275}}</string>
                <key>offset</key>
                <string>{28,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,38},{263,275}}</string>
                <key>sourceSize</key>
                <string>{331,315}</string>
            </dict>
            <key>role0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{829,2},{247,309}}</string>
                <key>offset</key>
                <string>{20,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,0},{247,309}}</string>
                <key>sourceSize</key>
                <string>{331,315}</string>
            </dict>
            <key>role0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,2},{287,285}}</string>
                <key>offset</key>
                <string>{21,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,23},{287,285}}</string>
                <key>sourceSize</key>
                <string>{331,315}</string>
            </dict>
            <key>role0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,417},{265,261}}</string>
                <key>offset</key>
                <string>{33,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,52},{265,261}}</string>
                <key>sourceSize</key>
                <string>{331,315}</string>
            </dict>
            <key>role0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,753},{223,263}}</string>
                <key>offset</key>
                <string>{49,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,52},{223,263}}</string>
                <key>sourceSize</key>
                <string>{331,315}</string>
            </dict>
            <key>role0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,780},{275,227}}</string>
                <key>offset</key>
                <string>{19,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,88},{275,227}}</string>
                <key>sourceSize</key>
                <string>{331,315}</string>
            </dict>
            <key>role0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,680},{235,205}}</string>
                <key>offset</key>
                <string>{13,-54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,109},{235,205}}</string>
                <key>sourceSize</key>
                <string>{331,315}</string>
            </dict>
            <key>role0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,2},{247,375}}</string>
                <key>offset</key>
                <string>{-2,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,39},{247,375}}</string>
                <key>sourceSize</key>
                <string>{287,421}</string>
            </dict>
            <key>role0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{287,415}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{287,415}}</string>
                <key>sourceSize</key>
                <string>{287,421}</string>
            </dict>
            <key>role0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,419},{265,359}}</string>
                <key>offset</key>
                <string>{11,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,60},{265,359}}</string>
                <key>sourceSize</key>
                <string>{287,421}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>roles.png</string>
            <key>size</key>
            <string>{1586,1022}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5f0c589d0315d6df4e24d4477f27b73e:1/1$</string>
            <key>textureFileName</key>
            <string>roles.png</string>
        </dict>
    </dict>
</plist>
