<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>android.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,47},{170,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,43}}</string>
                <key>sourceSize</key>
                <string>{170,43}</string>
            </dict>
            <key>block-large-blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{759,720},{306,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{306,150}}</string>
                <key>sourceSize</key>
                <string>{306,150}</string>
            </dict>
            <key>block-large-red.png</key>
            <dict>
                <key>frame</key>
                <string>{{763,412},{306,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{306,150}}</string>
                <key>sourceSize</key>
                <string>{306,150}</string>
            </dict>
            <key>block-small-blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,491},{305,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{305,117}}</string>
                <key>sourceSize</key>
                <string>{305,117}</string>
            </dict>
            <key>block-small-red.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,184},{305,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{305,117}}</string>
                <key>sourceSize</key>
                <string>{305,117}</string>
            </dict>
            <key>download-game.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,2},{210,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,43}}</string>
                <key>sourceSize</key>
                <string>{210,43}</string>
            </dict>
            <key>en-back.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,1028},{334,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{334,136}}</string>
                <key>sourceSize</key>
                <string>{334,136}</string>
            </dict>
            <key>en-new-record.png</key>
            <dict>
                <key>frame</key>
                <string>{{944,47},{316,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{316,60}}</string>
                <key>sourceSize</key>
                <string>{316,60}</string>
            </dict>
            <key>en-restart.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,184},{640,148}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{640,148}}</string>
                <key>sourceSize</key>
                <string>{640,174}</string>
            </dict>
            <key>en-start.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,1700},{317,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{317,84}}</string>
                <key>sourceSize</key>
                <string>{317,84}</string>
            </dict>
            <key>help-1-line.png</key>
            <dict>
                <key>frame</key>
                <string>{{923,365},{403,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{403,84}}</string>
                <key>sourceSize</key>
                <string>{403,84}</string>
            </dict>
            <key>help-1-word.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1232},{455,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{455,52}}</string>
                <key>sourceSize</key>
                <string>{455,52}</string>
            </dict>
            <key>help-2-word.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,798},{441,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{441,116}}</string>
                <key>sourceSize</key>
                <string>{441,116}</string>
            </dict>
            <key>help-3-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1389},{395,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{395,79}}</string>
                <key>sourceSize</key>
                <string>{395,79}</string>
            </dict>
            <key>help-3-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1700},{330,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{330,79}}</string>
                <key>sourceSize</key>
                <string>{330,79}</string>
            </dict>
            <key>ios.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,1327},{106,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,43}}</string>
                <key>sourceSize</key>
                <string>{106,43}</string>
            </dict>
            <key>me-large-blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{763,252},{158,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,158}}</string>
                <key>sourceSize</key>
                <string>{158,158}</string>
            </dict>
            <key>me-large-red.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,92},{158,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,158}}</string>
                <key>sourceSize</key>
                <string>{158,158}</string>
            </dict>
            <key>music-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{984,2},{36,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,42}}</string>
                <key>sourceSize</key>
                <string>{36,42}</string>
            </dict>
            <key>score-bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{911,770},{555,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{555,109}}</string>
                <key>sourceSize</key>
                <string>{555,109}</string>
            </dict>
            <key>scoreboard.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,334},{636,495}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{636,495}}</string>
                <key>sourceSize</key>
                <string>{636,495}</string>
            </dict>
            <key>settingboard.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,831},{629,399}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{629,399}}</string>
                <key>sourceSize</key>
                <string>{629,399}</string>
            </dict>
            <key>settings.png</key>
            <dict>
                <key>frame</key>
                <string>{{459,1241},{286,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{286,105}}</string>
                <key>sourceSize</key>
                <string>{286,105}</string>
            </dict>
            <key>share-game.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1286},{442,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{442,101}}</string>
                <key>sourceSize</key>
                <string>{442,101}</string>
            </dict>
            <key>speed-line.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{768,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{768,180}}</string>
                <key>sourceSize</key>
                <string>{768,180}</string>
            </dict>
            <key>taparea-left-(2).png</key>
            <dict>
                <key>frame</key>
                <string>{{446,1364},{334,424}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{334,424}}</string>
                <key>sourceSize</key>
                <string>{334,424}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gameRes.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:82fb673825964d5903cd407382dce60e:1/1$</string>
            <key>textureFileName</key>
            <string>gameRes.png</string>
        </dict>
    </dict>
</plist>
