<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Brain_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,242},{116,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,22},{116,72}}</string>
                <key>sourceSize</key>
                <string>{116,116}</string>
            </dict>
            <key>Brain_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,388},{114,70}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,22},{114,70}}</string>
                <key>sourceSize</key>
                <string>{116,116}</string>
            </dict>
            <key>Brain_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,316},{114,70}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,22},{114,70}}</string>
                <key>sourceSize</key>
                <string>{116,116}</string>
            </dict>
            <key>Brain_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,414},{116,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,23},{116,70}}</string>
                <key>sourceSize</key>
                <string>{116,116}</string>
            </dict>
            <key>Brain_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,168},{116,72}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,23},{116,72}}</string>
                <key>sourceSize</key>
                <string>{116,116}</string>
            </dict>
            <key>Brain_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,94},{116,72}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,17},{116,72}}</string>
                <key>sourceSize</key>
                <string>{116,116}</string>
            </dict>
            <key>Brain_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,314},{116,98}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{116,98}}</string>
                <key>sourceSize</key>
                <string>{116,116}</string>
            </dict>
            <key>Dog.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,196},{116,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,116}}</string>
                <key>sourceSize</key>
                <string>{116,116}</string>
            </dict>
            <key>Go.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,320},{70,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,15},{70,40}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>GoSel.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,94},{70,48}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{70,48}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>NumBack.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,232},{86,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,86}}</string>
                <key>sourceSize</key>
                <string>{86,86}</string>
            </dict>
            <key>NumBackSel.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,144},{86,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,86}}</string>
                <key>sourceSize</key>
                <string>{86,86}</string>
            </dict>
            <key>RefreshN.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,2},{180,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,90}}</string>
                <key>sourceSize</key>
                <string>{180,90}</string>
            </dict>
            <key>RefreshS.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,386},{180,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,90}}</string>
                <key>sourceSize</key>
                <string>{180,90}</string>
            </dict>
            <key>ScoreCycle.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,64},{124,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{124,130}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>ShareN.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,294},{180,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,90}}</string>
                <key>sourceSize</key>
                <string>{180,90}</string>
            </dict>
            <key>ShareS.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,202},{180,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,90}}</string>
                <key>sourceSize</key>
                <string>{180,90}</string>
            </dict>
            <key>Superb.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,64},{170,136}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{170,136}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>TimeBar.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,39},{292,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{292,23}}</string>
                <key>sourceSize</key>
                <string>{292,23}</string>
            </dict>
            <key>TimeBarBtm.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{300,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,35}}</string>
                <key>sourceSize</key>
                <string>{300,35}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Objects.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c736249a5c224234c597297996c58ba1$</string>
            <key>textureFileName</key>
            <string>Objects.png</string>
        </dict>
    </dict>
</plist>
