<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>role0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,298},{76,107}}</string>
                <key>offset</key>
                <string>{18,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,27},{76,107}}</string>
                <key>sourceSize</key>
                <string>{208,159}</string>
            </dict>
            <key>role0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,220},{76,107}}</string>
                <key>offset</key>
                <string>{18,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,27},{76,107}}</string>
                <key>sourceSize</key>
                <string>{208,159}</string>
            </dict>
            <key>role0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{741,193},{76,109}}</string>
                <key>offset</key>
                <string>{18,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,25},{76,109}}</string>
                <key>sourceSize</key>
                <string>{208,159}</string>
            </dict>
            <key>role0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{745,115},{76,109}}</string>
                <key>offset</key>
                <string>{18,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,25},{76,109}}</string>
                <key>sourceSize</key>
                <string>{208,159}</string>
            </dict>
            <key>role0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,355},{76,109}}</string>
                <key>offset</key>
                <string>{18,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,25},{76,109}}</string>
                <key>sourceSize</key>
                <string>{208,159}</string>
            </dict>
            <key>role0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,405},{76,109}}</string>
                <key>offset</key>
                <string>{18,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,25},{76,109}}</string>
                <key>sourceSize</key>
                <string>{208,159}</string>
            </dict>
            <key>role0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,142},{76,107}}</string>
                <key>offset</key>
                <string>{18,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,27},{76,107}}</string>
                <key>sourceSize</key>
                <string>{208,159}</string>
            </dict>
            <key>role0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{707,367},{76,107}}</string>
                <key>offset</key>
                <string>{18,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,27},{76,107}}</string>
                <key>sourceSize</key>
                <string>{208,159}</string>
            </dict>
            <key>role0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,298},{76,107}}</string>
                <key>offset</key>
                <string>{18,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,27},{76,107}}</string>
                <key>sourceSize</key>
                <string>{208,159}</string>
            </dict>
            <key>role0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,261},{112,101}}</string>
                <key>offset</key>
                <string>{-4,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,34},{112,101}}</string>
                <key>sourceSize</key>
                <string>{208,159}</string>
            </dict>
            <key>role0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,2},{138,139}}</string>
                <key>offset</key>
                <string>{-15,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,8},{138,139}}</string>
                <key>sourceSize</key>
                <string>{208,159}</string>
            </dict>
            <key>role0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{154,149}}</string>
                <key>offset</key>
                <string>{-27,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{154,149}}</string>
                <key>sourceSize</key>
                <string>{208,159}</string>
            </dict>
            <key>role0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,2},{152,147}}</string>
                <key>offset</key>
                <string>{-28,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{152,147}}</string>
                <key>sourceSize</key>
                <string>{208,159}</string>
            </dict>
            <key>role0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,153},{126,97}}</string>
                <key>offset</key>
                <string>{-17,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,40},{126,97}}</string>
                <key>sourceSize</key>
                <string>{208,159}</string>
            </dict>
            <key>role0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,367},{98,107}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,28},{98,107}}</string>
                <key>sourceSize</key>
                <string>{208,159}</string>
            </dict>
            <key>role0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,153},{156,147}}</string>
                <key>offset</key>
                <string>{-26,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,147}}</string>
                <key>sourceSize</key>
                <string>{208,159}</string>
            </dict>
            <key>role0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,311},{150,149}}</string>
                <key>offset</key>
                <string>{-24,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{150,149}}</string>
                <key>sourceSize</key>
                <string>{208,159}</string>
            </dict>
            <key>role0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,2},{148,149}}</string>
                <key>offset</key>
                <string>{-24,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{148,149}}</string>
                <key>sourceSize</key>
                <string>{208,159}</string>
            </dict>
            <key>role0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,256},{112,109}}</string>
                <key>offset</key>
                <string>{-7,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,26},{112,109}}</string>
                <key>sourceSize</key>
                <string>{208,159}</string>
            </dict>
            <key>role0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,375},{108,109}}</string>
                <key>offset</key>
                <string>{50,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{100,26},{108,109}}</string>
                <key>sourceSize</key>
                <string>{208,159}</string>
            </dict>
            <key>role0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{745,2},{140,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,24},{140,111}}</string>
                <key>sourceSize</key>
                <string>{208,159}</string>
            </dict>
            <key>role0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{887,2},{138,111}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,24},{138,111}}</string>
                <key>sourceSize</key>
                <string>{208,159}</string>
            </dict>
            <key>role0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,143},{136,111}}</string>
                <key>offset</key>
                <string>{11,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,24},{136,111}}</string>
                <key>sourceSize</key>
                <string>{208,159}</string>
            </dict>
            <key>role0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{603,121},{136,111}}</string>
                <key>offset</key>
                <string>{14,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,24},{136,111}}</string>
                <key>sourceSize</key>
                <string>{208,159}</string>
            </dict>
            <key>role0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,376},{76,105}}</string>
                <key>offset</key>
                <string>{16,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,30},{76,105}}</string>
                <key>sourceSize</key>
                <string>{208,159}</string>
            </dict>
            <key>role0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{737,271},{94,107}}</string>
                <key>offset</key>
                <string>{23,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,28},{94,107}}</string>
                <key>sourceSize</key>
                <string>{208,159}</string>
            </dict>
            <key>role0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,152},{120,119}}</string>
                <key>offset</key>
                <string>{20,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,16},{120,119}}</string>
                <key>sourceSize</key>
                <string>{208,159}</string>
            </dict>
            <key>role0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{601,234},{134,119}}</string>
                <key>offset</key>
                <string>{19,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,16},{134,119}}</string>
                <key>sourceSize</key>
                <string>{208,159}</string>
            </dict>
            <key>role0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{603,2},{140,117}}</string>
                <key>offset</key>
                <string>{19,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,18},{140,117}}</string>
                <key>sourceSize</key>
                <string>{208,159}</string>
            </dict>
            <key>role0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,281},{122,115}}</string>
                <key>offset</key>
                <string>{25,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,20},{122,115}}</string>
                <key>sourceSize</key>
                <string>{208,159}</string>
            </dict>
            <key>role0031.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,273},{116,107}}</string>
                <key>offset</key>
                <string>{24,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,28},{116,107}}</string>
                <key>sourceSize</key>
                <string>{208,159}</string>
            </dict>
            <key>role0032.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,391},{92,107}}</string>
                <key>offset</key>
                <string>{32,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{90,28},{92,107}}</string>
                <key>sourceSize</key>
                <string>{208,159}</string>
            </dict>
            <key>role0033.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,376},{90,107}}</string>
                <key>offset</key>
                <string>{30,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,28},{90,107}}</string>
                <key>sourceSize</key>
                <string>{208,159}</string>
            </dict>
            <key>role0034.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,152},{88,107}}</string>
                <key>offset</key>
                <string>{29,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,28},{88,107}}</string>
                <key>sourceSize</key>
                <string>{208,159}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>helo50.png</string>
            <key>size</key>
            <string>{1000,485}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:273f3f7d10621ec3f9f137c9506512f3:1/1$</string>
            <key>textureFileName</key>
            <string>helo50.png</string>
        </dict>
    </dict>
</plist>
