<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,2},{182,11}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{182,11}}</string>
                <key>sourceSize</key>
                <string>{186,17}</string>
            </dict>
            <key>hit.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{217,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{217,48}}</string>
                <key>sourceSize</key>
                <string>{219,50}</string>
            </dict>
            <key>left.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,482},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>light0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,353},{12,13}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,37},{12,13}}</string>
                <key>sourceSize</key>
                <string>{76,79}</string>
            </dict>
            <key>light0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,145},{48,61}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,9},{48,61}}</string>
                <key>sourceSize</key>
                <string>{76,79}</string>
            </dict>
            <key>light0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,492},{72,79}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,79}}</string>
                <key>sourceSize</key>
                <string>{76,79}</string>
            </dict>
            <key>light0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,195},{60,69}}</string>
                <key>offset</key>
                <string>{8,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,1},{60,69}}</string>
                <key>sourceSize</key>
                <string>{76,79}</string>
            </dict>
            <key>npc10001.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,385},{70,94}}</string>
                <key>offset</key>
                <string>{5,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,14},{70,94}}</string>
                <key>sourceSize</key>
                <string>{80,108}</string>
            </dict>
            <key>npc10002.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,385},{70,94}}</string>
                <key>offset</key>
                <string>{5,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,14},{70,94}}</string>
                <key>sourceSize</key>
                <string>{80,108}</string>
            </dict>
            <key>npc10003.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,481},{70,96}}</string>
                <key>offset</key>
                <string>{5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,9},{70,96}}</string>
                <key>sourceSize</key>
                <string>{80,108}</string>
            </dict>
            <key>npc10004.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,481},{70,96}}</string>
                <key>offset</key>
                <string>{5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,9},{70,96}}</string>
                <key>sourceSize</key>
                <string>{80,108}</string>
            </dict>
            <key>npc10005.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,246},{80,104}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{80,104}}</string>
                <key>sourceSize</key>
                <string>{80,108}</string>
            </dict>
            <key>npc10006.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,246},{80,104}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{80,104}}</string>
                <key>sourceSize</key>
                <string>{80,108}</string>
            </dict>
            <key>npc10007.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,246},{80,104}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{80,104}}</string>
                <key>sourceSize</key>
                <string>{80,108}</string>
            </dict>
            <key>npc10008.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,79},{72,98}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,7},{72,98}}</string>
                <key>sourceSize</key>
                <string>{80,108}</string>
            </dict>
            <key>npc10009.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,79},{72,98}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,7},{72,98}}</string>
                <key>sourceSize</key>
                <string>{80,108}</string>
            </dict>
            <key>npc10010.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,385},{70,92}}</string>
                <key>offset</key>
                <string>{5,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,14},{70,92}}</string>
                <key>sourceSize</key>
                <string>{80,108}</string>
            </dict>
            <key>npc10011.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,385},{70,92}}</string>
                <key>offset</key>
                <string>{5,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,14},{70,92}}</string>
                <key>sourceSize</key>
                <string>{80,108}</string>
            </dict>
            <key>npc10012.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,171},{70,98}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,7},{70,98}}</string>
                <key>sourceSize</key>
                <string>{80,108}</string>
            </dict>
            <key>npc10013.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,171},{70,98}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,7},{70,98}}</string>
                <key>sourceSize</key>
                <string>{80,108}</string>
            </dict>
            <key>npc10014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,420},{70,106}}</string>
                <key>offset</key>
                <string>{5,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{70,106}}</string>
                <key>sourceSize</key>
                <string>{80,108}</string>
            </dict>
            <key>npc10015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,420},{70,106}}</string>
                <key>offset</key>
                <string>{5,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{70,106}}</string>
                <key>sourceSize</key>
                <string>{80,108}</string>
            </dict>
            <key>npc10016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,420},{70,106}}</string>
                <key>offset</key>
                <string>{5,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{70,106}}</string>
                <key>sourceSize</key>
                <string>{80,108}</string>
            </dict>
            <key>npc10017.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,479},{68,96}}</string>
                <key>offset</key>
                <string>{6,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,9},{68,96}}</string>
                <key>sourceSize</key>
                <string>{80,108}</string>
            </dict>
            <key>npc10018.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,479},{68,96}}</string>
                <key>offset</key>
                <string>{6,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,9},{68,96}}</string>
                <key>sourceSize</key>
                <string>{80,108}</string>
            </dict>
            <key>npc12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,492},{68,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,83}}</string>
                <key>sourceSize</key>
                <string>{68,83}</string>
            </dict>
            <key>npc20001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,328},{90,111}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,14},{90,111}}</string>
                <key>sourceSize</key>
                <string>{90,125}</string>
            </dict>
            <key>npc20002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,328},{90,111}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,14},{90,111}}</string>
                <key>sourceSize</key>
                <string>{90,125}</string>
            </dict>
            <key>npc20003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,236},{90,117}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{90,117}}</string>
                <key>sourceSize</key>
                <string>{90,125}</string>
            </dict>
            <key>npc20004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,236},{90,117}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{90,117}}</string>
                <key>sourceSize</key>
                <string>{90,125}</string>
            </dict>
            <key>npc20005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,52},{90,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,125}}</string>
                <key>sourceSize</key>
                <string>{90,125}</string>
            </dict>
            <key>npc20006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,52},{90,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,125}}</string>
                <key>sourceSize</key>
                <string>{90,125}</string>
            </dict>
            <key>npc20007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,52},{90,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,125}}</string>
                <key>sourceSize</key>
                <string>{90,125}</string>
            </dict>
            <key>npc20008.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,107},{90,117}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{90,117}}</string>
                <key>sourceSize</key>
                <string>{90,125}</string>
            </dict>
            <key>npc20009.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,107},{90,117}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{90,117}}</string>
                <key>sourceSize</key>
                <string>{90,125}</string>
            </dict>
            <key>npc20010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,328},{90,111}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,14},{90,111}}</string>
                <key>sourceSize</key>
                <string>{90,125}</string>
            </dict>
            <key>npc20011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,328},{90,111}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,14},{90,111}}</string>
                <key>sourceSize</key>
                <string>{90,125}</string>
            </dict>
            <key>npc20012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,144},{90,117}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{90,117}}</string>
                <key>sourceSize</key>
                <string>{90,125}</string>
            </dict>
            <key>npc20013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,144},{90,117}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{90,117}}</string>
                <key>sourceSize</key>
                <string>{90,125}</string>
            </dict>
            <key>npc20014.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,15},{90,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,125}}</string>
                <key>sourceSize</key>
                <string>{90,125}</string>
            </dict>
            <key>npc20015.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,15},{90,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,125}}</string>
                <key>sourceSize</key>
                <string>{90,125}</string>
            </dict>
            <key>npc20016.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,15},{90,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,125}}</string>
                <key>sourceSize</key>
                <string>{90,125}</string>
            </dict>
            <key>npc20017.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,52},{90,117}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{90,117}}</string>
                <key>sourceSize</key>
                <string>{90,125}</string>
            </dict>
            <key>npc20018.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,52},{90,117}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{90,117}}</string>
                <key>sourceSize</key>
                <string>{90,125}</string>
            </dict>
            <key>npc22.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,2},{75,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,99}}</string>
                <key>sourceSize</key>
                <string>{75,99}</string>
            </dict>
            <key>npc30001.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,243},{91,97}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,14},{91,97}}</string>
                <key>sourceSize</key>
                <string>{91,111}</string>
            </dict>
            <key>npc30002.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,243},{91,97}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,14},{91,97}}</string>
                <key>sourceSize</key>
                <string>{91,111}</string>
            </dict>
            <key>npc30003.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,467},{91,103}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{91,103}}</string>
                <key>sourceSize</key>
                <string>{91,111}</string>
            </dict>
            <key>npc30004.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,467},{91,103}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{91,103}}</string>
                <key>sourceSize</key>
                <string>{91,111}</string>
            </dict>
            <key>npc30005.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,292},{91,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,111}}</string>
                <key>sourceSize</key>
                <string>{91,111}</string>
            </dict>
            <key>npc30006.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,292},{91,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,111}}</string>
                <key>sourceSize</key>
                <string>{91,111}</string>
            </dict>
            <key>npc30007.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,292},{91,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,111}}</string>
                <key>sourceSize</key>
                <string>{91,111}</string>
            </dict>
            <key>npc30008.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,336},{91,103}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{91,103}}</string>
                <key>sourceSize</key>
                <string>{91,111}</string>
            </dict>
            <key>npc30009.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,336},{91,103}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{91,103}}</string>
                <key>sourceSize</key>
                <string>{91,111}</string>
            </dict>
            <key>npc30010.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,243},{91,97}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,14},{91,97}}</string>
                <key>sourceSize</key>
                <string>{91,111}</string>
            </dict>
            <key>npc30011.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,243},{91,97}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,14},{91,97}}</string>
                <key>sourceSize</key>
                <string>{91,111}</string>
            </dict>
            <key>npc30012.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,328},{91,103}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{91,103}}</string>
                <key>sourceSize</key>
                <string>{91,111}</string>
            </dict>
            <key>npc30013.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,328},{91,103}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{91,103}}</string>
                <key>sourceSize</key>
                <string>{91,111}</string>
            </dict>
            <key>npc30014.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,199},{91,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,111}}</string>
                <key>sourceSize</key>
                <string>{91,111}</string>
            </dict>
            <key>npc30015.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,199},{91,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,111}}</string>
                <key>sourceSize</key>
                <string>{91,111}</string>
            </dict>
            <key>npc30016.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,199},{91,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,111}}</string>
                <key>sourceSize</key>
                <string>{91,111}</string>
            </dict>
            <key>npc30017.png</key>
            <dict>
                <key>frame</key>
                <string>{{403,153},{91,103}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{91,103}}</string>
                <key>sourceSize</key>
                <string>{91,111}</string>
            </dict>
            <key>npc30018.png</key>
            <dict>
                <key>frame</key>
                <string>{{403,153},{91,103}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{91,103}}</string>
                <key>sourceSize</key>
                <string>{91,111}</string>
            </dict>
            <key>npc32.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,266},{66,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,85}}</string>
                <key>sourceSize</key>
                <string>{66,85}</string>
            </dict>
            <key>pet10001.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,59},{54,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,42}}</string>
                <key>sourceSize</key>
                <string>{54,42}</string>
            </dict>
            <key>pet10002.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,59},{54,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,42}}</string>
                <key>sourceSize</key>
                <string>{54,42}</string>
            </dict>
            <key>pet10003.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,103},{54,40}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,40}}</string>
                <key>sourceSize</key>
                <string>{54,42}</string>
            </dict>
            <key>pet10004.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,103},{54,40}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,40}}</string>
                <key>sourceSize</key>
                <string>{54,42}</string>
            </dict>
            <key>pet10005.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,59},{54,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,42}}</string>
                <key>sourceSize</key>
                <string>{54,42}</string>
            </dict>
            <key>pet10006.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,59},{54,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,42}}</string>
                <key>sourceSize</key>
                <string>{54,42}</string>
            </dict>
            <key>pet10007.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,15},{54,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,42}}</string>
                <key>sourceSize</key>
                <string>{54,42}</string>
            </dict>
            <key>pet10008.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,15},{54,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,42}}</string>
                <key>sourceSize</key>
                <string>{54,42}</string>
            </dict>
            <key>pet20001.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,421},{44,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,37}}</string>
                <key>sourceSize</key>
                <string>{44,37}</string>
            </dict>
            <key>pet20002.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,421},{44,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,37}}</string>
                <key>sourceSize</key>
                <string>{44,37}</string>
            </dict>
            <key>pet20003.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,421},{44,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,37}}</string>
                <key>sourceSize</key>
                <string>{44,37}</string>
            </dict>
            <key>pet20004.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,421},{44,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,37}}</string>
                <key>sourceSize</key>
                <string>{44,37}</string>
            </dict>
            <key>pet20005.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,421},{44,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,37}}</string>
                <key>sourceSize</key>
                <string>{44,37}</string>
            </dict>
            <key>pet20006.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,421},{44,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,37}}</string>
                <key>sourceSize</key>
                <string>{44,37}</string>
            </dict>
            <key>pet20007.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,421},{44,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,37}}</string>
                <key>sourceSize</key>
                <string>{44,37}</string>
            </dict>
            <key>pet20008.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,421},{44,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,37}}</string>
                <key>sourceSize</key>
                <string>{44,37}</string>
            </dict>
            <key>pet30001.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,429},{51,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,35}}</string>
                <key>sourceSize</key>
                <string>{51,35}</string>
            </dict>
            <key>pet30002.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,429},{51,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,35}}</string>
                <key>sourceSize</key>
                <string>{51,35}</string>
            </dict>
            <key>pet30003.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,429},{51,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,35}}</string>
                <key>sourceSize</key>
                <string>{51,35}</string>
            </dict>
            <key>pet30004.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,429},{51,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,35}}</string>
                <key>sourceSize</key>
                <string>{51,35}</string>
            </dict>
            <key>pet30005.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,429},{51,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,35}}</string>
                <key>sourceSize</key>
                <string>{51,35}</string>
            </dict>
            <key>pet30006.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,429},{51,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,35}}</string>
                <key>sourceSize</key>
                <string>{51,35}</string>
            </dict>
            <key>pet30007.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,429},{51,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,35}}</string>
                <key>sourceSize</key>
                <string>{51,35}</string>
            </dict>
            <key>pet30008.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,429},{51,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,35}}</string>
                <key>sourceSize</key>
                <string>{51,35}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>npc50.png</string>
            <key>size</key>
            <string>{508,579}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ab6e21a819367a878a19e08ddf424983:1/1$</string>
            <key>textureFileName</key>
            <string>npc50.png</string>
        </dict>
    </dict>
</plist>
