<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>again.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,407},{194,66}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{194,66}}</string>
                <key>sourceSize</key>
                <string>{202,70}</string>
            </dict>
            <key>over.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,2},{403,363}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{403,363}}</string>
                <key>sourceSize</key>
                <string>{403,379}</string>
            </dict>
            <key>over2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{403,363}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{403,363}}</string>
                <key>sourceSize</key>
                <string>{403,363}</string>
            </dict>
            <key>return.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,603},{385,63}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{385,63}}</string>
                <key>sourceSize</key>
                <string>{385,67}</string>
            </dict>
            <key>share.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,407},{195,66}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{195,66}}</string>
                <key>sourceSize</key>
                <string>{201,70}</string>
            </dict>
            <key>shareword.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,367},{349,334}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{349,334}}</string>
                <key>sourceSize</key>
                <string>{349,334}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>app.png</string>
            <key>size</key>
            <string>{772,703}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1b80840f1605c22bd1bd21a4c8a59508:1/1$</string>
            <key>textureFileName</key>
            <string>app.png</string>
        </dict>
    </dict>
</plist>
