<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mg0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,128},{56,56}}</string>
                <key>offset</key>
                <string>{5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,16},{56,56}}</string>
                <key>sourceSize</key>
                <string>{84,82}</string>
            </dict>
            <key>mg0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,2},{52,60}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,8},{52,60}}</string>
                <key>sourceSize</key>
                <string>{84,82}</string>
            </dict>
            <key>mg0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,64},{54,62}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,7},{54,62}}</string>
                <key>sourceSize</key>
                <string>{84,82}</string>
            </dict>
            <key>mg0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,2},{56,60}}</string>
                <key>offset</key>
                <string>{5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,9},{56,60}}</string>
                <key>sourceSize</key>
                <string>{84,82}</string>
            </dict>
            <key>mg0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,66},{58,60}}</string>
                <key>offset</key>
                <string>{5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,9},{58,60}}</string>
                <key>sourceSize</key>
                <string>{84,82}</string>
            </dict>
            <key>mg0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,2},{62,62}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,7},{62,62}}</string>
                <key>sourceSize</key>
                <string>{84,82}</string>
            </dict>
            <key>mg0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{333,146},{60,60}}</string>
                <key>offset</key>
                <string>{-5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,9},{60,60}}</string>
                <key>sourceSize</key>
                <string>{84,82}</string>
            </dict>
            <key>mg0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{459,128},{42,62}}</string>
                <key>offset</key>
                <string>{-10,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,7},{42,62}}</string>
                <key>sourceSize</key>
                <string>{84,82}</string>
            </dict>
            <key>mg0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,186},{42,62}}</string>
                <key>offset</key>
                <string>{-10,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,7},{42,62}}</string>
                <key>sourceSize</key>
                <string>{84,82}</string>
            </dict>
            <key>mg0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,190},{48,58}}</string>
                <key>offset</key>
                <string>{-8,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,14},{48,58}}</string>
                <key>sourceSize</key>
                <string>{84,82}</string>
            </dict>
            <key>mg0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,190},{62,50}}</string>
                <key>offset</key>
                <string>{-3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,21},{62,50}}</string>
                <key>sourceSize</key>
                <string>{84,82}</string>
            </dict>
            <key>mg0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,190},{62,50}}</string>
                <key>offset</key>
                <string>{3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,21},{62,50}}</string>
                <key>sourceSize</key>
                <string>{84,82}</string>
            </dict>
            <key>xj0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,99},{88,89}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,4},{88,89}}</string>
                <key>sourceSize</key>
                <string>{134,101}</string>
            </dict>
            <key>xj0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,2},{70,67}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,21},{70,67}}</string>
                <key>sourceSize</key>
                <string>{134,101}</string>
            </dict>
            <key>xj0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{92,95}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,3},{92,95}}</string>
                <key>sourceSize</key>
                <string>{134,101}</string>
            </dict>
            <key>xj0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,2},{84,87}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,6},{84,87}}</string>
                <key>sourceSize</key>
                <string>{134,101}</string>
            </dict>
            <key>xj0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,2},{84,83}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,8},{84,83}}</string>
                <key>sourceSize</key>
                <string>{134,101}</string>
            </dict>
            <key>xj0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,99},{88,89}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,5},{88,89}}</string>
                <key>sourceSize</key>
                <string>{134,101}</string>
            </dict>
            <key>xj0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,88},{74,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,13},{74,75}}</string>
                <key>sourceSize</key>
                <string>{134,101}</string>
            </dict>
            <key>xj0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,163},{70,71}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,17},{70,71}}</string>
                <key>sourceSize</key>
                <string>{134,101}</string>
            </dict>
            <key>xj0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,74},{70,61}}</string>
                <key>offset</key>
                <string>{2,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,27},{70,61}}</string>
                <key>sourceSize</key>
                <string>{134,101}</string>
            </dict>
            <key>xj0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,88},{70,73}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,15},{70,73}}</string>
                <key>sourceSize</key>
                <string>{134,101}</string>
            </dict>
            <key>zd.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,165},{69,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,75}}</string>
                <key>sourceSize</key>
                <string>{69,75}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>def.png</string>
            <key>size</key>
            <string>{512,242}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e2e2e9b879e6b9ea3ceb5b5ec78e9da5:1/1$</string>
            <key>textureFileName</key>
            <string>def.png</string>
        </dict>
    </dict>
</plist>
