<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>r0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,355},{77,68}}</string>
                <key>offset</key>
                <string>{5,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,13},{77,68}}</string>
                <key>sourceSize</key>
                <string>{129,102}</string>
            </dict>
            <key>r0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,356},{79,68}}</string>
                <key>offset</key>
                <string>{4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,13},{79,68}}</string>
                <key>sourceSize</key>
                <string>{129,102}</string>
            </dict>
            <key>r0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,351},{79,68}}</string>
                <key>offset</key>
                <string>{2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,13},{79,68}}</string>
                <key>sourceSize</key>
                <string>{129,102}</string>
            </dict>
            <key>r0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,350},{79,68}}</string>
                <key>offset</key>
                <string>{2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,13},{79,68}}</string>
                <key>sourceSize</key>
                <string>{129,102}</string>
            </dict>
            <key>r0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,425},{75,68}}</string>
                <key>offset</key>
                <string>{2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,13},{75,68}}</string>
                <key>sourceSize</key>
                <string>{129,102}</string>
            </dict>
            <key>r0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{331,423},{75,68}}</string>
                <key>offset</key>
                <string>{3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,13},{75,68}}</string>
                <key>sourceSize</key>
                <string>{129,102}</string>
            </dict>
            <key>r0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,365},{75,68}}</string>
                <key>offset</key>
                <string>{3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,13},{75,68}}</string>
                <key>sourceSize</key>
                <string>{129,102}</string>
            </dict>
            <key>r0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,493},{67,74}}</string>
                <key>offset</key>
                <string>{-4,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,8},{67,74}}</string>
                <key>sourceSize</key>
                <string>{129,102}</string>
            </dict>
            <key>r0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,421},{69,74}}</string>
                <key>offset</key>
                <string>{-2,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,8},{69,74}}</string>
                <key>sourceSize</key>
                <string>{129,102}</string>
            </dict>
            <key>r0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,280},{73,74}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,8},{73,74}}</string>
                <key>sourceSize</key>
                <string>{129,102}</string>
            </dict>
            <key>r0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,280},{75,70}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,12},{75,70}}</string>
                <key>sourceSize</key>
                <string>{129,102}</string>
            </dict>
            <key>r0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,426},{75,68}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,14},{75,68}}</string>
                <key>sourceSize</key>
                <string>{129,102}</string>
            </dict>
            <key>r0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,420},{73,70}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,12},{73,70}}</string>
                <key>sourceSize</key>
                <string>{129,102}</string>
            </dict>
            <key>r0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,492},{69,72}}</string>
                <key>offset</key>
                <string>{-4,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,10},{69,72}}</string>
                <key>sourceSize</key>
                <string>{129,102}</string>
            </dict>
            <key>r0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,495},{77,62}}</string>
                <key>offset</key>
                <string>{5,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,16},{77,62}}</string>
                <key>sourceSize</key>
                <string>{129,102}</string>
            </dict>
            <key>r0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,279},{85,70}}</string>
                <key>offset</key>
                <string>{1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,9},{85,70}}</string>
                <key>sourceSize</key>
                <string>{129,102}</string>
            </dict>
            <key>r0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,280},{85,68}}</string>
                <key>offset</key>
                <string>{-5,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,11},{85,68}}</string>
                <key>sourceSize</key>
                <string>{129,102}</string>
            </dict>
            <key>r0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,496},{71,70}}</string>
                <key>offset</key>
                <string>{-4,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,10},{71,70}}</string>
                <key>sourceSize</key>
                <string>{129,102}</string>
            </dict>
            <key>r0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,352},{69,76}}</string>
                <key>offset</key>
                <string>{-1,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,5},{69,76}}</string>
                <key>sourceSize</key>
                <string>{129,102}</string>
            </dict>
            <key>r0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,492},{77,66}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,15},{77,66}}</string>
                <key>sourceSize</key>
                <string>{129,102}</string>
            </dict>
            <key>r0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,504},{75,62}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,16},{75,62}}</string>
                <key>sourceSize</key>
                <string>{129,102}</string>
            </dict>
            <key>r0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,191},{87,88}}</string>
                <key>offset</key>
                <string>{-6,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,4},{87,88}}</string>
                <key>sourceSize</key>
                <string>{129,102}</string>
            </dict>
            <key>r0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,198},{83,80}}</string>
                <key>offset</key>
                <string>{-10,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,13},{83,80}}</string>
                <key>sourceSize</key>
                <string>{129,102}</string>
            </dict>
            <key>r0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,435},{67,74}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,19},{67,74}}</string>
                <key>sourceSize</key>
                <string>{129,102}</string>
            </dict>
            <key>r0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,206},{71,88}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,5},{71,88}}</string>
                <key>sourceSize</key>
                <string>{129,102}</string>
            </dict>
            <key>r0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,198},{79,90}}</string>
                <key>offset</key>
                <string>{5,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,0},{79,90}}</string>
                <key>sourceSize</key>
                <string>{129,102}</string>
            </dict>
            <key>r0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,279},{75,80}}</string>
                <key>offset</key>
                <string>{7,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,9},{75,80}}</string>
                <key>sourceSize</key>
                <string>{129,102}</string>
            </dict>
            <key>r0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,278},{85,88}}</string>
                <key>offset</key>
                <string>{5,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,3},{85,88}}</string>
                <key>sourceSize</key>
                <string>{129,102}</string>
            </dict>
            <key>r0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,191},{85,90}}</string>
                <key>offset</key>
                <string>{52,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{120,15},{85,90}}</string>
                <key>sourceSize</key>
                <string>{221,172}</string>
            </dict>
            <key>r0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,2},{113,114}}</string>
                <key>offset</key>
                <string>{38,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,6},{113,114}}</string>
                <key>sourceSize</key>
                <string>{221,172}</string>
            </dict>
            <key>r0031.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{181,128}}</string>
                <key>offset</key>
                <string>{20,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,0},{181,128}}</string>
                <key>sourceSize</key>
                <string>{221,172}</string>
            </dict>
            <key>r0032.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,2},{165,108}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,29},{165,108}}</string>
                <key>sourceSize</key>
                <string>{221,172}</string>
            </dict>
            <key>r0033.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,117},{131,72}}</string>
                <key>offset</key>
                <string>{-22,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,77},{131,72}}</string>
                <key>sourceSize</key>
                <string>{221,172}</string>
            </dict>
            <key>r0034.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,132},{133,72}}</string>
                <key>offset</key>
                <string>{-26,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,85},{133,72}}</string>
                <key>sourceSize</key>
                <string>{221,172}</string>
            </dict>
            <key>r0035.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,112},{135,84}}</string>
                <key>offset</key>
                <string>{-30,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,80},{135,84}}</string>
                <key>sourceSize</key>
                <string>{221,172}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>helo.png</string>
            <key>size</key>
            <string>{506,568}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dff7230696bfdd91232b3392d5ae44d4:1/1$</string>
            <key>textureFileName</key>
            <string>helo.png</string>
        </dict>
    </dict>
</plist>
