<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>n10001.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,2},{173,261}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,5},{173,261}}</string>
                <key>sourceSize</key>
                <string>{219,273}</string>
            </dict>
            <key>n10002.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,2},{173,265}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,1},{173,265}}</string>
                <key>sourceSize</key>
                <string>{219,273}</string>
            </dict>
            <key>n10003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,273},{171,263}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,3},{171,263}}</string>
                <key>sourceSize</key>
                <string>{219,273}</string>
            </dict>
            <key>n10004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,538},{169,263}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,3},{169,263}}</string>
                <key>sourceSize</key>
                <string>{219,273}</string>
            </dict>
            <key>n10005.png</key>
            <dict>
                <key>frame</key>
                <string>{{525,2},{169,265}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,2},{169,265}}</string>
                <key>sourceSize</key>
                <string>{219,273}</string>
            </dict>
            <key>n10006.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,269},{169,265}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,1},{169,265}}</string>
                <key>sourceSize</key>
                <string>{219,273}</string>
            </dict>
            <key>n10007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{171,269}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,3},{171,269}}</string>
                <key>sourceSize</key>
                <string>{219,273}</string>
            </dict>
            <key>n20001.png</key>
            <dict>
                <key>frame</key>
                <string>{{695,173},{162,145}}</string>
                <key>offset</key>
                <string>{3,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,6},{162,145}}</string>
                <key>sourceSize</key>
                <string>{226,187}</string>
            </dict>
            <key>n20002.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,320},{162,139}}</string>
                <key>offset</key>
                <string>{2,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,6},{162,139}}</string>
                <key>sourceSize</key>
                <string>{226,187}</string>
            </dict>
            <key>n20003.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,400},{162,139}}</string>
                <key>offset</key>
                <string>{3,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,4},{162,139}}</string>
                <key>sourceSize</key>
                <string>{226,187}</string>
            </dict>
            <key>n20004.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,803},{164,135}}</string>
                <key>offset</key>
                <string>{4,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,6},{164,135}}</string>
                <key>sourceSize</key>
                <string>{226,187}</string>
            </dict>
            <key>n20005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1000,157},{166,137}}</string>
                <key>offset</key>
                <string>{0,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,10},{166,137}}</string>
                <key>sourceSize</key>
                <string>{226,187}</string>
            </dict>
            <key>n20006.png</key>
            <dict>
                <key>frame</key>
                <string>{{958,2},{166,153}}</string>
                <key>offset</key>
                <string>{-4,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,12},{166,153}}</string>
                <key>sourceSize</key>
                <string>{226,187}</string>
            </dict>
            <key>n20007.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,2},{164,161}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,11},{164,161}}</string>
                <key>sourceSize</key>
                <string>{226,187}</string>
            </dict>
            <key>n20008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,803},{160,163}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,8},{160,163}}</string>
                <key>sourceSize</key>
                <string>{226,187}</string>
            </dict>
            <key>n20009.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,329},{160,147}}</string>
                <key>offset</key>
                <string>{-5,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,9},{160,147}}</string>
                <key>sourceSize</key>
                <string>{226,187}</string>
            </dict>
            <key>n20010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1012,325},{160,141}}</string>
                <key>offset</key>
                <string>{-3,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,8},{160,141}}</string>
                <key>sourceSize</key>
                <string>{226,187}</string>
            </dict>
            <key>n20011.png</key>
            <dict>
                <key>frame</key>
                <string>{{859,165},{162,139}}</string>
                <key>offset</key>
                <string>{-1,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,8},{162,139}}</string>
                <key>sourceSize</key>
                <string>{226,187}</string>
            </dict>
            <key>n20012.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,265},{166,133}}</string>
                <key>offset</key>
                <string>{1,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,12},{166,133}}</string>
                <key>sourceSize</key>
                <string>{226,187}</string>
            </dict>
            <key>n20013.png</key>
            <dict>
                <key>frame</key>
                <string>{{525,173},{168,139}}</string>
                <key>offset</key>
                <string>{2,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,5},{168,139}}</string>
                <key>sourceSize</key>
                <string>{226,187}</string>
            </dict>
            <key>n20014.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,314},{166,129}}</string>
                <key>offset</key>
                <string>{2,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,16},{166,129}}</string>
                <key>sourceSize</key>
                <string>{226,187}</string>
            </dict>
            <key>n30001.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,541},{127,115}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,1},{127,115}}</string>
                <key>sourceSize</key>
                <string>{163,123}</string>
            </dict>
            <key>n30002.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,775},{125,115}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,1},{125,115}}</string>
                <key>sourceSize</key>
                <string>{163,123}</string>
            </dict>
            <key>n30003.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,658},{125,115}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,1},{125,115}}</string>
                <key>sourceSize</key>
                <string>{163,123}</string>
            </dict>
            <key>n30004.png</key>
            <dict>
                <key>frame</key>
                <string>{{883,690},{115,115}}</string>
                <key>offset</key>
                <string>{-8,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{115,115}}</string>
                <key>sourceSize</key>
                <string>{163,123}</string>
            </dict>
            <key>n30005.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,684},{115,115}}</string>
                <key>offset</key>
                <string>{-9,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,0},{115,115}}</string>
                <key>sourceSize</key>
                <string>{163,123}</string>
            </dict>
            <key>n30006.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,892},{115,119}}</string>
                <key>offset</key>
                <string>{-9,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,0},{115,119}}</string>
                <key>sourceSize</key>
                <string>{163,123}</string>
            </dict>
            <key>n30007.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,658},{115,115}}</string>
                <key>offset</key>
                <string>{-8,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,1},{115,115}}</string>
                <key>sourceSize</key>
                <string>{163,123}</string>
            </dict>
            <key>n30008.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,775},{115,115}}</string>
                <key>offset</key>
                <string>{-9,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,1},{115,115}}</string>
                <key>sourceSize</key>
                <string>{163,123}</string>
            </dict>
            <key>n30009.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,681},{117,117}}</string>
                <key>offset</key>
                <string>{-9,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{117,117}}</string>
                <key>sourceSize</key>
                <string>{163,123}</string>
            </dict>
            <key>n40001.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,579},{124,97}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,6},{124,97}}</string>
                <key>sourceSize</key>
                <string>{166,113}</string>
            </dict>
            <key>n40002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1155,403},{124,97}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,6},{124,97}}</string>
                <key>sourceSize</key>
                <string>{166,113}</string>
            </dict>
            <key>n40003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1145,607},{120,97}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,6},{120,97}}</string>
                <key>sourceSize</key>
                <string>{166,113}</string>
            </dict>
            <key>n40004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1139,141},{130,97}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,6},{130,97}}</string>
                <key>sourceSize</key>
                <string>{166,113}</string>
            </dict>
            <key>n40005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1155,273},{128,97}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,6},{128,97}}</string>
                <key>sourceSize</key>
                <string>{166,113}</string>
            </dict>
            <key>n40006.png</key>
            <dict>
                <key>frame</key>
                <string>{{665,678},{122,97}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,6},{122,97}}</string>
                <key>sourceSize</key>
                <string>{166,113}</string>
            </dict>
            <key>n50001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1084,861},{91,76}}</string>
                <key>offset</key>
                <string>{-11,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,4},{91,76}}</string>
                <key>sourceSize</key>
                <string>{147,90}</string>
            </dict>
            <key>n50002.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,802},{99,78}}</string>
                <key>offset</key>
                <string>{-4,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,1},{99,78}}</string>
                <key>sourceSize</key>
                <string>{147,90}</string>
            </dict>
            <key>n50003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1151,529},{101,76}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,4},{101,76}}</string>
                <key>sourceSize</key>
                <string>{147,90}</string>
            </dict>
            <key>n50004.png</key>
            <dict>
                <key>frame</key>
                <string>{{991,919},{91,76}}</string>
                <key>offset</key>
                <string>{-8,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,3},{91,76}}</string>
                <key>sourceSize</key>
                <string>{147,90}</string>
            </dict>
            <key>n50005.png</key>
            <dict>
                <key>frame</key>
                <string>{{991,841},{91,76}}</string>
                <key>offset</key>
                <string>{-11,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,3},{91,76}}</string>
                <key>sourceSize</key>
                <string>{147,90}</string>
            </dict>
            <key>n50006.png</key>
            <dict>
                <key>frame</key>
                <string>{{913,873},{91,76}}</string>
                <key>offset</key>
                <string>{-12,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,4},{91,76}}</string>
                <key>sourceSize</key>
                <string>{147,90}</string>
            </dict>
            <key>n50007.png</key>
            <dict>
                <key>frame</key>
                <string>{{765,800},{91,78}}</string>
                <key>offset</key>
                <string>{-12,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,2},{91,78}}</string>
                <key>sourceSize</key>
                <string>{147,90}</string>
            </dict>
            <key>n50008.png</key>
            <dict>
                <key>frame</key>
                <string>{{835,880},{91,76}}</string>
                <key>offset</key>
                <string>{-13,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,4},{91,76}}</string>
                <key>sourceSize</key>
                <string>{147,90}</string>
            </dict>
            <key>n60001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1121,795},{119,64}}</string>
                <key>offset</key>
                <string>{-6,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,3},{119,64}}</string>
                <key>sourceSize</key>
                <string>{165,72}</string>
            </dict>
            <key>n60002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1123,729},{119,64}}</string>
                <key>offset</key>
                <string>{-6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,2},{119,64}}</string>
                <key>sourceSize</key>
                <string>{165,72}</string>
            </dict>
            <key>n60003.png</key>
            <dict>
                <key>frame</key>
                <string>{{769,880},{119,64}}</string>
                <key>offset</key>
                <string>{-6,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,2},{119,64}}</string>
                <key>sourceSize</key>
                <string>{165,72}</string>
            </dict>
            <key>n60004.png</key>
            <dict>
                <key>frame</key>
                <string>{{703,882},{119,64}}</string>
                <key>offset</key>
                <string>{-6,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,2},{119,64}}</string>
                <key>sourceSize</key>
                <string>{165,72}</string>
            </dict>
            <key>n60005.png</key>
            <dict>
                <key>frame</key>
                <string>{{637,886},{119,64}}</string>
                <key>offset</key>
                <string>{-6,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,2},{119,64}}</string>
                <key>sourceSize</key>
                <string>{165,72}</string>
            </dict>
            <key>n60006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1000,775},{119,64}}</string>
                <key>offset</key>
                <string>{-6,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,3},{119,64}}</string>
                <key>sourceSize</key>
                <string>{165,72}</string>
            </dict>
            <key>n60007.png</key>
            <dict>
                <key>frame</key>
                <string>{{858,807},{119,64}}</string>
                <key>offset</key>
                <string>{-6,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,3},{119,64}}</string>
                <key>sourceSize</key>
                <string>{165,72}</string>
            </dict>
            <key>n60008.png</key>
            <dict>
                <key>frame</key>
                <string>{{503,892},{119,66}}</string>
                <key>offset</key>
                <string>{-6,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,2},{119,66}}</string>
                <key>sourceSize</key>
                <string>{165,72}</string>
            </dict>
            <key>n60009.png</key>
            <dict>
                <key>frame</key>
                <string>{{571,886},{119,64}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,4},{119,64}}</string>
                <key>sourceSize</key>
                <string>{165,72}</string>
            </dict>
            <key>n60010.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,563},{119,64}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,4},{119,64}}</string>
                <key>sourceSize</key>
                <string>{165,72}</string>
            </dict>
            <key>n70001.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,536},{137,116}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,4},{137,116}}</string>
                <key>sourceSize</key>
                <string>{189,124}</string>
            </dict>
            <key>n70002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1012,487},{137,116}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,4},{137,116}}</string>
                <key>sourceSize</key>
                <string>{189,124}</string>
            </dict>
            <key>n70003.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,478},{137,116}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,4},{137,116}}</string>
                <key>sourceSize</key>
                <string>{189,124}</string>
            </dict>
            <key>n70004.png</key>
            <dict>
                <key>frame</key>
                <string>{{649,461},{137,116}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,4},{137,116}}</string>
                <key>sourceSize</key>
                <string>{189,124}</string>
            </dict>
            <key>n70005.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,445},{137,116}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,4},{137,116}}</string>
                <key>sourceSize</key>
                <string>{189,124}</string>
            </dict>
            <key>n70006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1126,2},{137,116}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,4},{137,116}}</string>
                <key>sourceSize</key>
                <string>{189,124}</string>
            </dict>
            <key>n70007.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,654},{129,116}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,4},{129,116}}</string>
                <key>sourceSize</key>
                <string>{189,124}</string>
            </dict>
            <key>n80001.png</key>
            <dict>
                <key>frame</key>
                <string>{{927,478},{125,83}}</string>
                <key>offset</key>
                <string>{-6,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,6},{125,83}}</string>
                <key>sourceSize</key>
                <string>{159,97}</string>
            </dict>
            <key>n80002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1020,605},{123,83}}</string>
                <key>offset</key>
                <string>{-6,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,6},{123,83}}</string>
                <key>sourceSize</key>
                <string>{159,97}</string>
            </dict>
            <key>n80003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1000,690},{121,83}}</string>
                <key>offset</key>
                <string>{-7,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,6},{121,83}}</string>
                <key>sourceSize</key>
                <string>{159,97}</string>
            </dict>
            <key>n80004.png</key>
            <dict>
                <key>frame</key>
                <string>{{545,801},{117,83}}</string>
                <key>offset</key>
                <string>{-9,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,6},{117,83}}</string>
                <key>sourceSize</key>
                <string>{159,97}</string>
            </dict>
            <key>n80005.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,892},{119,83}}</string>
                <key>offset</key>
                <string>{-7,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,6},{119,83}}</string>
                <key>sourceSize</key>
                <string>{159,97}</string>
            </dict>
            <key>n80006.png</key>
            <dict>
                <key>frame</key>
                <string>{{895,605},{123,83}}</string>
                <key>offset</key>
                <string>{-7,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,6},{123,83}}</string>
                <key>sourceSize</key>
                <string>{159,97}</string>
            </dict>
            <key>n80007.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,596},{127,83}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,6},{127,83}}</string>
                <key>sourceSize</key>
                <string>{159,97}</string>
            </dict>
            <key>n80008.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,563},{129,83}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,6},{129,83}}</string>
                <key>sourceSize</key>
                <string>{159,97}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>npc.png</string>
            <key>size</key>
            <string>{1254,1013}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:932a0ed7f445f12fa8d744d7add34916:1/1$</string>
            <key>textureFileName</key>
            <string>npc.png</string>
        </dict>
    </dict>
</plist>
