/* cyrillic */
@font-face {
  font-family: 'Seymour One';
  font-style: normal;
  font-weight: 400;
}
/* latin-ext */
@font-face {
  font-family: 'Seymour One';
  font-style: normal;
  font-weight: 400;
}
/* latin */
@font-face {
  font-family: 'Seymour One';
  font-style: normal;
  font-weight: 400;
}
