.icon {
	display: inline-block;
	background-repeat: no-repeat;
	background-image: url(sprite.png);
}
.icon-arrow-right {
	width: 32px;
	height: 32px;
	background-position: 0 0;
}
.icon-arrow-left {
	width: 32px;
	height: 32px;
	background-position: -48px 0;
}
