<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>AD.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{480,720}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,720}}</string>
                <key>sourceSize</key>
                <string>{480,720}</string>
            </dict>
            <key>btn_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,480},{162,86}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{162,86}}</string>
                <key>sourceSize</key>
                <string>{170,90}</string>
            </dict>
            <key>btn_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,891},{78,82}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{78,82}}</string>
                <key>sourceSize</key>
                <string>{78,84}</string>
            </dict>
            <key>flaunt.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,860},{130,62}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,11},{130,62}}</string>
                <key>sourceSize</key>
                <string>{170,90}</string>
            </dict>
            <key>floor.png</key>
            <dict>
                <key>frame</key>
                <string>{{982,74},{720,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{720,10}}</string>
                <key>sourceSize</key>
                <string>{720,10}</string>
            </dict>
            <key>game_over.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1098},{612,623}}</string>
                <key>offset</key>
                <string>{-2,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,13},{612,623}}</string>
                <key>sourceSize</key>
                <string>{700,695}</string>
            </dict>
            <key>game_over_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,568},{321,148}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,25},{321,148}}</string>
                <key>sourceSize</key>
                <string>{349,196}</string>
            </dict>
            <key>game_start.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,484},{612,698}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,50},{612,698}}</string>
                <key>sourceSize</key>
                <string>{720,800}</string>
            </dict>
            <key>icon_arrows.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,599},{139,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,112}}</string>
                <key>sourceSize</key>
                <string>{139,112}</string>
            </dict>
            <key>icon_bus.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,480},{117,83}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{117,83}}</string>
                <key>sourceSize</key>
                <string>{121,87}</string>
            </dict>
            <key>icon_smoke.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,924},{72,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,67}}</string>
                <key>sourceSize</key>
                <string>{72,67}</string>
            </dict>
            <key>label_again.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,796},{130,62}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,13},{130,62}}</string>
                <key>sourceSize</key>
                <string>{170,90}</string>
            </dict>
            <key>munu_logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,2},{256,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,119}}</string>
                <key>sourceSize</key>
                <string>{256,119}</string>
            </dict>
            <key>run_man_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,891},{58,68}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{58,68}}</string>
                <key>sourceSize</key>
                <string>{60,70}</string>
            </dict>
            <key>run_man_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,740},{48,68}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,2},{48,68}}</string>
                <key>sourceSize</key>
                <string>{60,70}</string>
            </dict>
            <key>run_man_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{982,2},{34,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,70}}</string>
                <key>sourceSize</key>
                <string>{34,70}</string>
            </dict>
            <key>share_label.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,123},{355,216}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{355,216}}</string>
                <key>sourceSize</key>
                <string>{357,216}</string>
            </dict>
            <key>title_label.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,961},{524,46}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,10},{524,46}}</string>
                <key>sourceSize</key>
                <string>{534,70}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>images.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:978dd578b564af5aa5ea3bd765b7ddf7$</string>
            <key>textureFileName</key>
            <string>images.png</string>
        </dict>
    </dict>
</plist>
